html {
  box-sizing: border-box; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  &:after,
  &:before {
    box-sizing: inherit;
  }
}
body {
  margin: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
footer {
  color: $pink;
}
